<div class="card">
  <div class="card__thumb">
    <a href="reviews/aurora-in-search-of-the-northern-lights.html">
      <img src="http://fpoimg.com/255x170" alt="Aurora in search of the northern lights">
    </a>
    <div class="card__intro">
      <h4 class="card__title"><%= review.book_title %></h4>
      <span>by <%= review.author %></span>
      <p><%= review.body %></p>
    </div>
  </div>
  <div class="card__footer">
    <button class="btn delta" type="submit">
      <svg class="icon-delete" role="presentation">
        <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#delete") %>"></use>
      </svg>
      Delete
    </button>
    <a class="btn delta" href="#no-link">
      <svg class="icon-edit" role="presentation">
        <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#edit") %>"></use>
      </svg>
      Edit
    </a>
  </div>
</div>
