<%= form_tag(reviews_create_path, class: 'global-search') do %>
  <div class="input-group input-group--horizontal">
    <%= label_tag('Book Title', nil, class: "input-group__label") %>
    <%= text_field_tag('book_title', nil, class: 'input-group__field', placeholder: 'E.g. Fifty Shades of Grey') %>
  </div>
  <div class="input-group input-group--horizontal">
    <%= label_tag('Body', nil, class: "input-group__label") %>
    <%= text_field_tag('body', nil, class: 'input-group__field', placeholder: ' What is the book about?') %>
  </div>
  <div class="input-group input-group--horizontal">
    <%= label_tag('Image Url', nil, class: "input-group__label") %>
    <%= text_field_tag('image_url', nil, class: 'input-group__field', placeholder: 'Add an image link') %>
  </div>
  <div class="input-group input-group--horizontal">
    <%= label_tag('Author', nil, class: "input-group__label") %>
    <%= text_field_tag('author', nil, class: 'input-group__field', placeholder: 'Author of the book') %>
  </div>
  <div class="prompt">
    <a class="prompt__cancel" href="#cancel">Cancel</a>
    <%= button_tag('Create review', class: 'btn btn--primary prompt__confirm') %>
  </div>
<% end %>
