<main>
  <div class="content-wrapper hr">
    <div class="media">
      <div class="media__figure">
        <%= render(partial: 'review_photo', locals: { image_url: @review.image_url }) %>
      </div>
      <div class="media__body">
        <div class="goal">
          <div class="goal__owner">
            <img class="avatar" src="/images/avatar.png" alt="Portrait of Frederick Rose">
            <p>Created by
              <a href="#">Frederick Rose</a>
            </p>
          </div>
          <h1 class="gamma"><%= @review.book_title %></h1>
          <ul class="horizontal-list btn-group">
            <li>
              <a class="btn delta" href="<%= edit_review_path(@review) %>">
                <svg class="icon-check icon--sm" role="presentation">
                  <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#edit") %>"></use>
                </svg>
                Edit
              </a>
            </li>
            <li>
              <% if(@user.present?) %>
                <%= form_tag(user_books_path(@user)) do %>
                  <%= hidden_field_tag('review_id', @review.id) %>
                  <%= button_tag(class: 'btn delta', type: 'submit') do %>
                    <svg class="icon-heart icon--sm" role="presentation">
                      <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#heart") %>"></use>
                    </svg>
                    Add
                  <% end %>
                <% end %>
              <% end %>
            </li>
          </ul>
          <div class="goal__intro">
            <p>
              <%= @review.body %>
            </p>
          </div>
          <div class="goal__meta">
            <span>Created on
              <time datetime="2017-08-27T03:48"><%= @review.created_at.strftime("%d %b '%y") %></time>
            </span>
            <span>by
              <%= @review.author %>
            </span>
            <span>
              <a href="#comments">3 comments</a>
            </span>
          </div>
          <ul class="tags-list">
            <li>
              <a href="#nature">Nature</a>
            </li>
            <li>
              <a href="#seek">Seek</a>
            </li>
            <li>
              <a href="#travel" class="selected">
                Travel
                <i class="remove-tag">&times;</i>
              </a>
            </li>
            <li>
              <a href="#tag4" data-filter="tag-4">Tag 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="comments">
      <h2 class="comments__title">Discussion<span> 3 comments</span></h2>

      <%= form_for([@review, @comment], html: { class: 'comments__input' }) do |form| %>
        <%= image_tag('avatar', alt: 'Default avatar') %>
        <div class="input-group">
          <%= form.label(:body, 'Add a comment', class: 'input-group__label') %>
          <%= form.text_area(:body, class: 'input-group__field') %>
        </div>
        <%= form.submit('Post', class: 'btn btn--primary') %>
      <% end %>

      <ul class="comments__listing">
        <%= @review.comments.each do |comment| %>
        <li class="comment">
          <%= image_tag('avatar', alt: 'Default avatar') %>
          <div class="comment__body">
            <h3 class="comment__title">Tom Jenkinson
              <time datetime="2017-08-28T13:48">Today</time>
            </h3>
            <p><%= comment.body %></p>
          </div>
        </li>
       <% end %>
      </ul>
    </div>
  </div>
</main>
