<main>
  <div class="content-wrapper hr">
    <div class="media">
      <div class="media__figure">
        <%= render(partial: 'review_photo', locals: { image_url: @review.image_url }) %>
      </div>
      <div class="media__body">
        <div class="goal">
          <div class="goal__owner">
            <img class="avatar" src="/images/avatar.png" alt="Portrait of Frederick Rose">
            <p>Created by
              <a href="#">Frederick Rose</a>
            </p>
          </div>
          <h1 class="gamma"><%= @review.book_title %></h1>
          <ul class="horizontal-list btn-group">
            <li>
              <a class="btn delta" href="<%= edit_review_path(@review) %>">
                <svg class="icon-check icon--sm" role="presentation">
                  <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#edit") %>"></use>
                </svg>
              Edit
              </a>
            </li>
            <li>
              <button class="btn delta" type="button">
                <svg class="icon-heart icon--sm" role="presentation">
                  <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#pluss") %>"></use>
                </svg>
                Add
              </button>
            </li>
          </ul>
          <div class="goal__intro">
            <p>
              <%= @review.body %>
            </p>
          </div>
          <div class="goal__meta">
            <span>Created on
              <time datetime="2017-08-27T03:48"><%= @review.created_at.strftime("%d %b '%y") %></time>
            </span>
            <span>by <%= @review.author %> </span>
            <span>
              <a href="#comments">3 comments</a>
            </span>
          </div>
          <ul class="tags-list">
            <li>
              <a href="#nature">Nature</a>
            </li>
            <li>
              <a href="#seek">Seek</a>
            </li>
            <li>
              <a href="#travel" class="selected">
                Travel
                <i class="remove-tag">&times;</i>
              </a>
            </li>
            <li>
              <a href="#tag4" data-filter="tag-4">Tag 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="comments">
      <h2 class="comments__title">Discussion
        <span>3 comments</span></h2>

      <form class="comments__input" action="goal.html" method="post">
        <%= image_tag('avatar', alt: 'Default avatar') %>
        <div class="input-group">
          <label class="input-group__label" for="comment">Add a comment</label>
          <textarea id="comment" class="input-group__field"></textarea>
        </div>
        <button class="btn btn--primary" type="submit">Post</button>
      </form>

      <ul class="comments__listing">
        <li class="comment">
          <%= image_tag('avatar', alt: 'Default avatar') %>
          <div class="comment__body">
            <h3 class="comment__title">Tom Jenkinson
              <time datetime="2017-08-28T13:48">Today</time>
            </h3>
            <p>I've done this and it's amazing! I'll never forget it.</p>
          </div>
        </li>
        <li class="comment">
          <%= image_tag('avatar', alt: 'Default avatar') %>
          <div class="comment__body">
            <h3 class="comment__title">Emily Walker
              <time datetime="2017-08-27T03:48">Yesterday</time>
            </h3>
            <p>When do you think that you'll get a chance to do this? Have you already planned it?</p>
          </div>
        </li>
        <li class="comment">
          <%= image_tag('avatar', alt: 'Default avatar') %>
          <div class="comment__body">
            <h3 class="comment__title">Claire Prince
              <time datetime="2016-06-10T09:48">10. June 2016</time>
            </h3>
            <p>I'm thinking about this as well.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
