<!DOCTYPE html>
<html>
  <head>
    <title>Book Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>

    <header>

      <div class="site-header">
        <div class="content-wrapper">
          <div class="logo">
            <%= link_to('<span>Bo<i>ok Rev</i>iews</span>'.html_safe, root_path) %>
          </div>
          <nav class="siteHeader__primaryNavInline">
            <ul class="main-navigation">
              <li class="nav-item active">
                <%= link_to('Home <span class="sr-only">(current)</span>'.html_safe, root_path) %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
              </li>
              <% if(@user.present?) %>
                <li class="nav-item">
                  <%= link_to('My Reviews', account_reviews_path) %>
                </li>
            </ul>
          </nav>
          <%= render(partial: 'search_form') %>
          <nav class="siteHeader__primaryNavInline">
            <ul class="main-navigation">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= @user.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to('Home', root_path) %>
                  <a class="dropdown-item" href="/about.html">About</a>
                  <%= link_to('My Reviews', account_reviews_path) %>
                  <div class="dropdown-divider"></div>
                  <%= link_to('Log out', root_path) %>
                </div>
              </li>
            </ul>
          </nav>
          <% else %>
            </ul>
          </nav>
          <%= render(partial: 'search_form') %>
            <nav class="siteHeader__primaryNavInline">
              <ul class="main-navigation">
                <li class="nav-item">
                  <%= link_to('Log In', new_user_path) %>
                </li>
              </ul>
            </nav>
          <% end %>
        </div>
      </div>
    </header>


    <%= yield %>

    <footer class="site-footer">
      <div class="content-wrapper">
        <div class="logo logo--inverted footer__logo">
          <%= link_to('<span>Bo<i>ok Rev</i>iews</span>'.html_safe, root_path) %>
        </div>
        <nav class="footer__navigation">
          <ul>
            <li>
              <a href="/about.html">About</a>
            </li>
            <li>
              <a href="#nolink">Privacy policy</a>
            </li>
            <li>
              <a href="#nolink">Terms of Use</a>
            </li>
          </ul>
        </nav>
        <p class="copyright">&copy; RoyaLWDev 2019</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
